<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PVPlus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
    <userSettings>
        <PVPlus.Properties.Settings>
            <setting name="PTablePath" serializeAs="String">
                <value/>
            </setting>
            <setting name="VTablePath" serializeAs="String">
                <value/>
            </setting>
            <setting name="STablePath" serializeAs="String">
                <value/>
            </setting>
            <setting name="ProductCode" serializeAs="String">
                <value/>
            </setting>
            <setting name="Delimiter" serializeAs="String">
                <value/>
            </setting>
            <setting name="ExcelPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="CompanyName" serializeAs="String">
                <value/>
            </setting>
            <setting name="DelimeterChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TableSelected" serializeAs="String">
                <value/>
            </setting>
            <setting name="SampleLine" serializeAs="String">
                <value/>
            </setting>
            <setting name="설정" serializeAs="String">
                <value/>
            </setting>
        </PVPlus.Properties.Settings>
    </userSettings>
</configuration>
